<div class="jumbotron" *ngIf="showBlock else elseBlock">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<ng-template #firstBlock>
  <p> showBlock 为假时显示 elseBlock ==> firstBlock</p>
</ng-template>

<button (click)="showBlock2 = !showBlock2">toggle showBlock2</button>
<!--<div class="block" *ngIf="showBlock2">-->
<!--  又是一段 block-->
<!--</div>-->

<h3>完整写法：用 ng-template 和 [ngIf]</h3>
<p>注：引用的标签 id 也要用在 ng-template 里面</p>
<ng-template [ngIf]="showBlock2" [ngIfElse]="showElseBlock2">
  <div class="block">
    又是一段 block
  </div>
</ng-template>

<ng-template #showElseBlock2> <p > showBlock2 为假时显示</p></ng-template>

<section>
<h3>ngIfThem</h3>
  <button (click)="condition = !condition">toggle showThenBlock</button>
  <div *ngIf="condition;then thenBlock else elseBlock2"></div>
  <ng-template #thenBlock>condition 为 true 时显示</ng-template>
  <ng-template #elseBlock2>condition 为 false 时显示</ng-template>
</section>
