<!--<button class="btn btn-primary" (click)="show = !show">toggle</button>-->
<!--<p *ngIf="show as s">test ngif alias &#45;&#45; {{s}}</p>-->
<!--<p *ngIf="show as s">test ngif alias &#45;&#45; {{s}}</p>-->

<!--<ng-template [ngIf]="show" let-s>-->
<!--  <p>test ngif alias &#45;&#45; {{s}}</p>-->
<!--</ng-template>-->

<!--<div class="content" [ngSwitch]="fruit">-->
<!--  <p *ngSwitchCase="'appple'">这是苹果</p>-->
<!--  <p *ngSwitchCase="'pear'">这是梨子</p>-->
<!--  <p *ngSwitchCase="'grape'">这是葡萄</p>-->
<!--  <p *ngSwitchDefault>啥都不是</p>-->
<!--</div>-->

<!--<div class="content" [ngSwitch]="fruit">-->
<!--  <ng-template ngSwitchCase="apple">-->
<!--    <p>这是苹果</p>-->
<!--  </ng-template>-->
<!--  <ng-template ngSwitchCase="pear">-->
<!--    <p>这是梨子</p>-->
<!--  </ng-template>-->
<!--  <ng-template ngSwitchCase="grape">-->
<!--    <p>这是葡萄</p>-->
<!--  </ng-template>-->
<!--  <ng-template ngSwitchDefault>-->
<!--    <p>啥都不是</p>-->
<!--  </ng-template>-->
<!--</div>-->

<!--<ul class="list">-->
<!--  <li-->
<!--    *ngFor="let item of heros; index as i; count as len; let ev = even; let od = odd; let f =first;let l = last;-->
<!--    trackBy: trackByHero;"-->
<!--    [class.even]="ev"-->
<!--    [class.odd]="od"-->
<!--  >-->
<!--    <p>index: {{i}}</p>-->
<!--    <p>count: {{len}}</p>-->
<!--    <p>name: {{item.name}}</p>-->
<!--    <p>first: {{f}}&#45;&#45;l: {{l}}</p>-->
<!--    <hr>-->
<!--  </li>-->
<!--</ul>-->

<!--<ul class="list">-->
<!--  <ng-template-->
<!--  ngFor-->
<!--  [ngForOf]="heros"-->
<!--  let-item-->
<!--  let-i="index"-->
<!--  let-len="count"-->
<!--  let-ev="even"-->
<!--  let-od="odd"-->
<!--  let-f="first"-->
<!--  let-l="last"-->
<!--  [ngForTrackBy]="trackByHero"-->
<!--  >-->
<!--    <li-->
<!--    [class.even]="ev"-->
<!--    [class.odd]="od"-->
<!--    >-->
<!--      <p>index: {{i}}</p>-->
<!--      <p>count: {{len}}</p>-->
<!--      <p>name: {{item.name}}</p>-->
<!--      <p>first: {{f}}&#45;&#45;l: {{l}}</p>-->
<!--      <hr>-->
<!--    </li>-->
<!--  </ng-template>-->
<!--</ul>-->

<!--<p>Hip!</p>-->
<!--<ng-template>-->
<!--&lt;!&ndash;  不可见&ndash;&gt;-->
<!--  Mip!-->
<!--</ng-template>-->
<!--<p>Hooray</p>-->
<!--<button class="btn btn-primary" (click)="show = !show">toggle</button>-->

<section>
  <h3>unless</h3>
  <button class="btn btn-primary" (click)="showUnless = !showUnless">toggle unless</button>
<!--  <p *appUnless="showUnless; let un; let attr=attr">测试 unless directive let ==> {{ un }} attr:{{attr}}</p>-->
  <ng-template [appUnless]="showUnless" let-ar="attr" let-un>
    <p *appUnless="showUnless as un; let attr=attr">测试 unless directive as ==> {{ un }} attr:{{ar}}</p>
  </ng-template>
</section>
